body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #efefef;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    border-bottom: 0.2px solid #cdcdcd;
    user-select: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: small;
    margin-left: -30px;

    & :first-child {
        font-weight: 800;
    }

    & li {
        padding: 5px;

        &:hover {
            background-color: #d5d6d6;
            border-radius: 3px;
        }
    }
}

main {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 20px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    grid-row-gap: 50px;
    justify-items: start;
    width: 20%;

    & * {
        cursor: pointer;
    }
}

#weLoveWeb {
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        margin-bottom: 5px;
    }

    & span {
        font-size: small;
        color: white;
        text-shadow: 1px 1px 2px black;
        text-align: center;
    }
}

#learningJournal {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        margin-bottom: 5px;
    }

    & span {
        font-size: small;
        color: white;
        text-shadow: 1px 1px 2px black;
        text-align: center;
    }
}

#codeGarden {
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        margin-bottom: 5px;
    }

    & span {
        font-size: small;
        color: white;
        text-shadow: 1px 1px 2px black;
        text-align: center;
    }
}

#knowledgeBank {
    grid-row-start: 4;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        margin-bottom: 5px;
    }

    & span {
        font-size: small;
        color: white;
        text-shadow: 1px 1px 2px black;
        text-align: center;
    }
}

#div5 {
    grid-row-start: 5;
}

#frame {
    background-color: #323232;
    width: 70%;
    border-radius: 10px;
    border: 1x solid #cdcdcd;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
}

#frame {
    margin: 0;
    color: white;
    display: none;
    height: 650px;
}

.frameTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid black;

    & h1 {
        padding-left: 20px;
        font-size: large;
    }

    & #frameButtons {
        display: flex;
        flex-direction: row;

        & #closeButton {
            width: 15px;
            height: 15px;
            background-color: #ed695e;
            border-radius: 100px;
            margin-right: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        & #minimizeButton {
            width: 15px;
            height: 15px;
            background-color: #f5bd50;
            border-radius: 100px;
            margin-right: 5px;
            cursor: not-allowed;
        }

        & #fullscreenButton {
            width: 15px;
            height: 15px;
            background-color: #61c454;
            border-radius: 100px;
            margin-right: 20px;
            cursor: not-allowed;
        }
    }
}

.frameContent {
    height: 600px;
    overflow: scroll;

    & p {
        width: 90%;
    }

    & .codeBlock {
        padding: 2px;
        background-color: #404040;
        color: orange;
    }

    & .journalEntry {
        padding-left: 20px;
        border-bottom: 0.5px solid #d5d6d6;
    }
}

.titel {
    font-weight: 800;
}

.bron {
    font-size: small;
    font-style: italic;
    color: #d5d6d6;
}