body {
  background-color: #181818;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  font:
  1rem "Fira Sans",
  sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  height: 40px;
  min-width: 100vh;
  border-bottom: 1px solid #2b2b2b;
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffff;
  width: 150px;
  min-height: 100vh;
  border-right: 1px solid #2b2b2b;
}

aside ul {
  width: 100%;
  padding: 0;
}

aside li {
  width: 100%;
  text-align: center;
  padding: 5px 0px 5px 0px;
  color: #ffff;
}

a:link{
  text-decoration: none;
}
aside li:hover {
  background-color: #2b2d2e;
}

.isactive{
  background-color: #37373d;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  width: 100%;
}

.main-section{
  color: #ffff;
}

.code-lines ol{
padding-top: 5px;
}

.tabrow{
    border-bottom: 1px solid #2b2b2b;
    background-color: #181818;
}

.tab {
  height: 30px;
  width: 120px;
  background-color: #1f1f1f;
  border-right: 1px solid #2b2b2b;
  border-top: 2px solid #2e79ce;
  color: #ffff;
  display: block;
  text-align: center;
}

/* ! vind beter alternatief voor padding-top */
.tab p{
  margin: auto;
  padding-top: 7px;
}